.ps-container > .ps-scrollbar-x-rail {
    display: block !important;
}

.ps-container > .ps-scrollbar-y-rail {
    display: block !important;
}
.card-footer-primary {
    background: #4caf50 !important;
}
.footer-title{
    font-weight: bold;
}
.col-form-label-filter{
    line-height: 5 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.btn .material-icons {
    margin-top: -0.5em !important;
    margin-bottom: -0.5em !important;
}
.btn.btn-link {
    border-color: transparent !important;
}
.sidebar .nav .icon-sidebar {
    font-size: 14px !important;
    line-height: 17px !important;
}
.card {
    font-size: .75rem !important;
  }
  table.dataTable thead .sorting {
    background-image:none !important;
  } 

  .table thead tr th {
    font-size: .85rem !important;
    text-align: center !important;
  }

  .table thead tr td {
    font-size: .85rem !important;
    text-align: center !important;
  }
  table.dataTable thead .sorting::before{
    content: none !important;
  }
  table.dataTable thead .sorting::after{
    content: none !important;
  }

  table.dataTable tbody tr {
    text-align: center !important;
  }
   .btn-action {
    margin: 0px !important;
    padding: 0px !important;
    display: inline-flex !important;
    flex-direction: row !important;
    justify-content: center !important;
  } 

  .div-action-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
.table-responsive td{
  font-size: .75rem !important;
  text-align: center !important;
}
#p-msg{
  margin-left: 5rem;
  color: red;
}

.select2-container--default {
  width:100% !important;
} 

.row-danger {
  background-color: #fdd9d7 !important;
}

.row-success {
  background-color: #dbefdc !important;
}
